.nav-link.active {
    font-weight: bold;
    color: #007bff;
    text-decoration: underline;
}


.required {
    color: red;
    font-weight: bold;
}


/* Custom CSS for the modal */
.modal {
    display: none; /* Hide the modal by default so the focus isnt set on it when the page loads */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    overflow: hidden;
    display: flex; 
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

/* Custom CSS for the modal content */
.modal-content {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    max-width: auto; 
    padding: 20px;
    animation: fadeIn 0.3s ease-in-out; 
}

.modal-dialog {
    position: relative;
    width: 100%; 
    max-width: auto; 
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease-in-out; 
}

/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(1.0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* CSS for the close button*/
.btn-close {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.hidden {
    display: none;
}